# Environment Configuration for Unikart Backend
# Copy this file to .env and fill in your values

# Server Configuration
PORT=80
NODE_ENV=production

# PostgreSQL RDS
DB_HOST=unikart-postgres.chogwkgeox2f.eu-north-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=adminuser
DB_PASSWORD=StrongPass123!
DATABASE_URL=postgresql://adminuser:StrongPass123!@unikart-postgres.chogwkgeox2f.eu-north-1.rds.amazonaws.com:5432/postgres

# AWS
AWS_REGION=eu-north-1
AWS_SNS_TOPIC_ARN=arn:aws:sns:eu-north-1:584164024115:unikart-notifications

# API Keys & JWT auth
API_SECRET_KEY=your_api_secret
JWT_SECRET=unikart_super_secure_key_123
JWT_EXPIRE=7d

# URLs
FRONTEND_URL=http://unikart-alb-296069847.eu-north-1.elb.amazonaws.com
BACKEND_URL=http://unikart-alb-296069847.eu-north-1.elb.amazonaws.com
API_BASE_URL=http://unikart-alb-296069847.eu-north-1.elb.amazonaws.com/api

# S3 Configuration
AWS_S3_BUCKET=unikart-products
AWS_S3_REGION=eu-north-1
